services:
  # ...

  php:
    # ...
    networks:
      - pi_network
    dns: 8.8.8.8 # <--- ¡AÑADE O VERIFICA ESTA LÍNEA!
    depends_on:
      - db

  jsonserver:
    image: node:20-alpine  # <--- AQUESTA LÍNIA ÉS LA QUE FALTAVA
    container_name: jsonserver
    working_dir: /app
    command: sh -c "npm i -g json-server && json-server --watch /data/db.json --host 0.0.0.0 --port 3000"
    volumes:
      - ./data:/data
    ports:
      - "3000:3000"
    restart: unless-stopped
    networks:
      - pi_network
    dns: 8.8.8.8 # Mantenim el fix DNS